# Imports

In [62]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
# Change datatype of columns to the appripriate ones
import pre_processing as prep
import time
import datetime

Upload the data into the notebook

In [43]:
df = pd.read_csv("./impute_loan_payments")

In [44]:
df_p = prep.DataTransform(df)

Convert the columns to their correct data type

In [46]:
# Transform columns into the categorical data type
df_p.category_transform(["grade", "sub_grade", "home_ownership", "verification_status", "loan_status", "payment_plan", "purpose", "application_type", "employment_length", "policy_code"])

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term_in_months,int_rate,instalment,grade,sub_grade,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36.0,7.49,248.82,A,A4,...,0.000000,0.00,0.00,2022-01-01,248.82,2022-02-01,2022-01-01,0.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36.0,6.99,407.52,A,A3,...,0.000000,0.00,0.00,2022-01-01,407.52,2022-02-01,2022-01-01,0.0,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36.0,7.49,497.63,A,A4,...,0.000000,0.00,0.00,2021-10-01,12850.16,NaN,2021-10-01,0.0,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36.0,14.31,514.93,C,C4,...,0.000000,0.00,0.00,2021-06-01,13899.67,NaN,2021-06-01,0.0,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36.0,6.03,456.54,A,A1,...,0.000000,0.00,0.00,2022-01-01,456.54,2022-02-01,2022-01-01,0.0,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54226,76597,76583,5000,5000.0,1775.0,36.0,9.01,159.03,B,B2,...,0.000000,0.00,0.00,2016-07-01,160.61,NaN,2016-07-01,0.0,1,INDIVIDUAL
54227,142608,74724,5000,5000.0,2350.0,36.0,10.59,162.73,C,C2,...,104.942381,0.00,0.00,2016-10-01,490.01,NaN,2016-09-01,0.0,1,INDIVIDUAL
54228,117045,70978,3500,3500.0,2225.0,36.0,7.43,108.77,A,A2,...,0.000000,0.00,0.00,2016-09-01,110.58,2016-09-01,2013-05-01,0.0,1,INDIVIDUAL
54229,88854,70699,5000,5000.0,225.0,36.0,7.43,155.38,A,A2,...,0.000000,0.00,0.00,2014-03-01,0.00,NaN,2013-05-01,0.0,1,INDIVIDUAL
54230,72323,70694,5000,5000.0,350.0,36.0,11.54,164.98,C,C5,...,0.000000,182.27,1.84,2014-03-01,164.97,2014-12-01,2015-01-01,0.0,1,INDIVIDUAL

In [47]:
# Convert columns to date type data
df_p.date_transform(["issue_date", "earliest_credit_line", "last_payment_date", "next_payment_date", "last_credit_pull_date"])

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term_in_months,int_rate,instalment,grade,sub_grade,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36.0,7.49,248.82,A,A4,...,0.000000,0.00,0.00,2022-01-01,248.82,2022-02-01,2022-01-01,0.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36.0,6.99,407.52,A,A3,...,0.000000,0.00,0.00,2022-01-01,407.52,2022-02-01,2022-01-01,0.0,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36.0,7.49,497.63,A,A4,...,0.000000,0.00,0.00,2021-10-01,12850.16,NaT,2021-10-01,0.0,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36.0,14.31,514.93,C,C4,...,0.000000,0.00,0.00,2021-06-01,13899.67,NaT,2021-06-01,0.0,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36.0,6.03,456.54,A,A1,...,0.000000,0.00,0.00,2022-01-01,456.54,2022-02-01,2022-01-01,0.0,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54226,76597,76583,5000,5000.0,1775.0,36.0,9.01,159.03,B,B2,...,0.000000,0.00,0.00,2016-07-01,160.61,NaT,2016-07-01,0.0,1,INDIVIDUAL
54227,142608,74724,5000,5000.0,2350.0,36.0,10.59,162.73,C,C2,...,104.942381,0.00,0.00,2016-10-01,490.01,NaT,2016-09-01,0.0,1,INDIVIDUAL
54228,117045,70978,3500,3500.0,2225.0,36.0,7.43,108.77,A,A2,...,0.000000,0.00,0.00,2016-09-01,110.58,2016-09-01,2013-05-01,0.0,1,INDIVIDUAL
54229,88854,70699,5000,5000.0,225.0,36.0,7.43,155.38,A,A2,...,0.000000,0.00,0.00,2014-03-01,0.00,NaT,2013-05-01,0.0,1,INDIVIDUAL
54230,72323,70694,5000,5000.0,350.0,36.0,11.54,164.98,C,C5,...,0.000000,182.27,1.84,2014-03-01,164.97,2014-12-01,2015-01-01,0.0,1,INDIVIDUAL

# Current state of the loan

#### Calculate the percentage of the loans recovered against the investor funding

In [152]:
round(df["total_payment"].sum()/df["funded_amount_inv"].sum()*100, 2)

93.26

#### Calculate the percentage of the loans  recovered against the total amount funded

In [153]:
round(df["total_payment"].sum()/df["funded_amount"].sum()*100, 2)

91.78

#### Calculate th percentage of the total amount would be recovered up to 6 months' in the future.

Calculate the number of months that the clients are left to pay

In [155]:
# Get the number of months alrady paid
df["remaining_mohts_to_pay"] = df["term_in_months"] - round((df["last_payment_date"] - df["issue_date"])/np.timedelta64(1, 'M'),)

0        24.0
1        24.0
2        27.0
3        31.0
4        24.0
         ...
54226     0.0
54227     0.0
54228    -1.0
54229    29.0
54230    28.0
Name: remaining_mohts_to_pay, Length: 54231, dtype: float64

Convert any nagative values to zero.

In [157]:

# turn any negative values to 0
df["remaining_mohts_to_pay"] = df["remaining_mohts_to_pay"].clip(lower=0)

0        24.0
1        24.0
2        27.0
3        31.0
4        24.0
         ...
54226     0.0
54227     0.0
54228     0.0
54229    29.0
54230    28.0
Name: remaining_mohts_to_pay, Length: 54231, dtype: float64

Filter for rows in which clients still have 6 months or less to pay  and mutilply them by the values in the instalment column.

In [158]:
# Amount paid in 6 months
df["6moths_projection"] = df["remaining_mohts_to_pay"][df["remaining_mohts_to_pay"]<=6] * df["instalment"]

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
54226    0.0
54227    0.0
54228    0.0
54229    NaN
54230    NaN
Name: 6moths_projection, Length: 54231, dtype: float64

Replace nulls for 0.

In [159]:
# Rremove nulls
df["6moths_projection"] = df["6moths_projection"].fillna(0.0)

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
54226    0.0
54227    0.0
54228    0.0
54229    0.0
54230    0.0
Name: 6moths_projection, Length: 54231, dtype: float64

Calculate the percentage recoved of the toatal loan amount on the next 6 months.

In [160]:
#Calculate percentage
df["6moths_projection"].sum()/df["funded_amount"].sum()

0.004069480931674658