In [1]:
# Import all modules for exploratory data analysis

# Extract and save data from database
import db_utils as dbu
# Change datatype of columns to the appripriate ones
import pre_processing as prep
# Get descritve informarion from the dataframe
import extract_info as extract

In [2]:
# Extract cloud database credentials from yaml file
db_credentials = dbu.read_credentials("/Users/ChAre/OneDrive/Desktop/aicore/EDA_finance/credentials.yaml")

# Extracting the data from Amazon RDS

In [3]:
# Initialise RDSDatabaseConnector class
db_connector = dbu.RDSDatabaseConnector(db_credentials)

In [ ]:
# Connect to database and extract desire database in the cloud
# RDSDatabaseConnector.save_data() call upon: extract_data, 
db_connector.save_data()

In [4]:
# Load data into pyhton
df_unclean = db_connector.load_data("./loan_payments")

# Data preprocessing

In [5]:
# Inspect the columns data types
df_unclean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  int64
 1   member_id                    54231 non-null  int64
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  object
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  object
 9   sub_grade                    54231 non-null  object
 10  employment_length            52113 non-null  object
 11  home_ownership               54231 non-null  object
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  object
 14  issue_date                   54231 non-null  object
 15  loan_status                  54231 non-null  object
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  object
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  object
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  object
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  object
 38  last_credit_pull_date        54224 non-null  object
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: float64(20), int64(8), object(15)
memory usage: 17.8+ MB

In [5]:
# Create instance of preprocessing of DataTransform class for preprocessing.
df_prep = prep.DataTransform(df_unclean)

In [7]:
# Transform columns into the categorical data type
df_prep.category_transform(["grade", "sub_grade", "home_ownership", "verification_status", "loan_status", "payment_plan", "purpose", "application_type", "employment_length", "policy_code"])

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36 months,7.49,248.82,A,A4,...,0.00,0.00,Jan-2022,248.82,Feb-2022,Jan-2022,0.0,5.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36 months,6.99,407.52,A,A3,...,0.00,0.00,Jan-2022,407.52,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36 months,7.49,497.63,A,A4,...,0.00,0.00,Oct-2021,12850.16,NaN,Oct-2021,0.0,NaN,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36 months,14.31,514.93,C,C4,...,0.00,0.00,Jun-2021,13899.67,NaN,Jun-2021,0.0,NaN,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36 months,6.03,456.54,A,A1,...,0.00,0.00,Jan-2022,456.54,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54226,76597,76583,5000,5000.0,1775.0,36 months,9.01,159.03,B,B2,...,0.00,0.00,Jul-2016,160.61,NaN,Jul-2016,NaN,NaN,1,INDIVIDUAL
54227,142608,74724,5000,5000.0,2350.0,36 months,10.59,162.73,C,C2,...,0.00,0.00,Oct-2016,490.01,NaN,Sep-2016,0.0,NaN,1,INDIVIDUAL
54228,117045,70978,3500,3500.0,2225.0,36 months,7.43,108.77,A,A2,...,0.00,0.00,Sep-2016,110.58,Sep-2016,May-2013,NaN,NaN,1,INDIVIDUAL
54229,88854,70699,5000,5000.0,225.0,36 months,7.43,155.38,A,A2,...,0.00,0.00,Mar-2014,0.00,NaN,May-2013,NaN,NaN,1,INDIVIDUAL
54230,72323,70694,5000,5000.0,350.0,36 months,11.54,164.98,C,C5,...,182.27,1.84,Mar-2014,164.97,Dec-2014,Jan-2015,NaN,NaN,1,INDIVIDUAL

In [8]:
# Convert columns to date type data
df_prep.date_transform(["issue_date", "earliest_credit_line", "last_payment_date", "next_payment_date", "last_credit_pull_date"])

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36 months,7.49,248.82,A,A4,...,0.00,0.00,2022-01-01,248.82,2022-02-01,2022-01-01,0.0,5.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36 months,6.99,407.52,A,A3,...,0.00,0.00,2022-01-01,407.52,2022-02-01,2022-01-01,0.0,NaN,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36 months,7.49,497.63,A,A4,...,0.00,0.00,2021-10-01,12850.16,NaT,2021-10-01,0.0,NaN,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36 months,14.31,514.93,C,C4,...,0.00,0.00,2021-06-01,13899.67,NaT,2021-06-01,0.0,NaN,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36 months,6.03,456.54,A,A1,...,0.00,0.00,2022-01-01,456.54,2022-02-01,2022-01-01,0.0,NaN,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54226,76597,76583,5000,5000.0,1775.0,36 months,9.01,159.03,B,B2,...,0.00,0.00,2016-07-01,160.61,NaT,2016-07-01,NaN,NaN,1,INDIVIDUAL
54227,142608,74724,5000,5000.0,2350.0,36 months,10.59,162.73,C,C2,...,0.00,0.00,2016-10-01,490.01,NaT,2016-09-01,0.0,NaN,1,INDIVIDUAL
54228,117045,70978,3500,3500.0,2225.0,36 months,7.43,108.77,A,A2,...,0.00,0.00,2016-09-01,110.58,2016-09-01,2013-05-01,NaN,NaN,1,INDIVIDUAL
54229,88854,70699,5000,5000.0,225.0,36 months,7.43,155.38,A,A2,...,0.00,0.00,2014-03-01,0.00,NaT,2013-05-01,NaN,NaN,1,INDIVIDUAL
54230,72323,70694,5000,5000.0,350.0,36 months,11.54,164.98,C,C5,...,182.27,1.84,2014-03-01,164.97,2014-12-01,2015-01-01,NaN,NaN,1,INDIVIDUAL

In [9]:
# Preporcess term column

# Convert column values into strings
df_prep.string_transform(["term"])

# Remove unwanted characters from the column values
df_prep.remove_characters("term", ["months"])

# Transform column values to numeric
df_prep.numeric_transform(["term"])

#Rename column to reflect the unit for the values
df_prep.rename_column("term", "term_in_months")

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term_in_months,int_rate,instalment,grade,sub_grade,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36,7.49,248.82,A,A4,...,0.00,0.00,2022-01-01,248.82,2022-02-01,2022-01-01,0.0,5.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36,6.99,407.52,A,A3,...,0.00,0.00,2022-01-01,407.52,2022-02-01,2022-01-01,0.0,NaN,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36,7.49,497.63,A,A4,...,0.00,0.00,2021-10-01,12850.16,NaT,2021-10-01,0.0,NaN,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36,14.31,514.93,C,C4,...,0.00,0.00,2021-06-01,13899.67,NaT,2021-06-01,0.0,NaN,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36,6.03,456.54,A,A1,...,0.00,0.00,2022-01-01,456.54,2022-02-01,2022-01-01,0.0,NaN,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54226,76597,76583,5000,5000.0,1775.0,36,9.01,159.03,B,B2,...,0.00,0.00,2016-07-01,160.61,NaT,2016-07-01,NaN,NaN,1,INDIVIDUAL
54227,142608,74724,5000,5000.0,2350.0,36,10.59,162.73,C,C2,...,0.00,0.00,2016-10-01,490.01,NaT,2016-09-01,0.0,NaN,1,INDIVIDUAL
54228,117045,70978,3500,3500.0,2225.0,36,7.43,108.77,A,A2,...,0.00,0.00,2016-09-01,110.58,2016-09-01,2013-05-01,NaN,NaN,1,INDIVIDUAL
54229,88854,70699,5000,5000.0,225.0,36,7.43,155.38,A,A2,...,0.00,0.00,2014-03-01,0.00,NaT,2013-05-01,NaN,NaN,1,INDIVIDUAL
54230,72323,70694,5000,5000.0,350.0,36,11.54,164.98,C,C5,...,182.27,1.84,2014-03-01,164.97,2014-12-01,2015-01-01,NaN,NaN,1,INDIVIDUAL

In [6]:
# Create DataFrameInfo instance to extract useful information from the dataframe.
df_inf = extract.DataFrameInfo(df_prep.dataframe)

In [11]:
# Check the data types of the columns after the transformations.
df_inf.check_columns_type()

id                                      int64
member_id                               int64
loan_amount                             int64
funded_amount                         float64
funded_amount_inv                     float64
term_in_months                          Int64
int_rate                              float64
instalment                            float64
grade                                category
sub_grade                            category
employment_length                    category
home_ownership                       category
annual_inc                            float64
verification_status                  category
issue_date                     datetime64[ns]
loan_status                          category
payment_plan                         category
purpose                              category
dti                                   float64
delinq_2yrs                             int64
earliest_credit_line           datetime64[ns]
inq_last_6mths                          int64
mths_since_last_delinq                float64
mths_since_last_record                float64
open_accounts                           int64
total_accounts                          int64
out_prncp                             float64
out_prncp_inv                         float64
total_payment                         float64
total_payment_inv                     float64
total_rec_prncp                       float64
total_rec_int                         float64
total_rec_late_fee                    float64
recoveries                            float64
collection_recovery_fee               float64
last_payment_date              datetime64[ns]
last_payment_amount                   float64
next_payment_date              datetime64[ns]
last_credit_pull_date          datetime64[ns]
collections_12_mths_ex_med            float64
mths_since_last_major_derog           float64
policy_code                          category
application_type                     category
dtype: object

In [12]:
# Extract statistical values: median, standard deviation and mean from the columns
# Omitted the id and member_id columns because they are used just for identifying individuals
df_inf.descriptive_stats( ["id", "member_id"])

loan_amount:
 mean:13333.08
 median:12000.0
 standard_deviation:8082.2


funded_amount:
 mean:13229.51
 median:12000.0
 standard_deviation:8019.02


funded_amount_inv:
 mean:12952.62
 median:11300.0
 standard_deviation:8099.47


int_rate:
 mean:13.51
 median:13.16
 standard_deviation:4.39


instalment:
 mean:400.01
 median:347.15
 standard_deviation:238.92


annual_inc:
 mean:72220.85
 median:61000.0
 standard_deviation:51589.34


dti:
 mean:15.87
 median:15.6
 standard_deviation:7.62


delinq_2yrs:
 mean:0.24
 median:0.0
 standard_deviation:0.71


inq_last_6mths:
 mean:0.89
 median:1.0
 standard_deviation:1.26


mths_since_last_delinq:
 mean:34.02
 median:31.0
 standard_deviation:21.92


mths_since_last_record:
 mean:74.83
 median:87.0
 standard_deviation:36.14


open_accounts:
 mean:10.56
 median:10.0
 standard_deviation:4.8


total_accounts:
 mean:24.17
 median:23.0
 standard_deviation:11.59


out_prncp:
 mean:2753.96
 median:0.0
 standard_deviation:5154.89


out_prncp_inv:
 mean:2752.57
 median:0.0
 standard_deviation:5153.04


total_payment:
 mean:12079.21
 median:10113.25
 standard_deviation:8391.04


total_payment_inv:
 mean:11788.95
 median:9835.83
 standard_deviation:8363.51


total_rec_prncp:
 mean:9407.05
 median:7644.92
 standard_deviation:6958.12


total_rec_int:
 mean:2577.76
 median:1734.64
 standard_deviation:2581.66


total_rec_late_fee:
 mean:0.9
 median:0.0
 standard_deviation:6.22


recoveries:
 mean:93.5
 median:0.0
 standard_deviation:630.84


collection_recovery_fee:
 mean:10.86
 median:0.0
 standard_deviation:120.19


last_payment_amount:
 mean:3130.71
 median:562.67
 standard_deviation:5323.8


collections_12_mths_ex_med:
 mean:0.0
 median:0.0
 standard_deviation:0.07


mths_since_last_major_derog:
 mean:42.25
 median:42.0
 standard_deviation:21.05

In [13]:
# Count distinct values in categorical columns
df_inf.unique_valus_count()

grade
B    16369
C    13600
A     9818
D     8157
E     4072
F     1694
G      521
Name: count, dtype: int64
Total numer of unique values: 7

sub_grade
B3    3641
B4    3542
B2    3241
C1    3018
B5    3016
C2    2962
B1    2929
C3    2794
A5    2789
A4    2645
C4    2512
C5    2314
D1    1838
D2    1809
A3    1752
D3    1647
D4    1509
A2    1481
D5    1354
A1    1151
E1     989
E2     985
E3     817
E4     658
E5     623
F1     486
F2     390
F3     326
F4     287
F5     205
G1     156
G2     133
G3      87
G4      74
G5      71
Name: count, dtype: int64
Total numer of unique values: 35

employment_length
10+ years    15907
2 years       5066
< 1 year      5034
3 years       4589
5 years       3836
1 year        3708
4 years       3482
6 years       3059
7 years       2964
8 years       2537
9 years       1931
Name: count, dtype: int64
Total numer of unique values: 11

home_ownership
MORTGAGE    26923
RENT        22493
OWN          4750
OTHER          63
NONE            2
Name: count, dtype: int64
Total numer of unique values: 5

verification_status
Verified           20782
Not Verified       17565
Source Verified    15884
Name: count, dtype: int64
Total numer of unique values: 3

loan_status
Fully Paid                                             27037
Current                                                19268
Charged Off                                             5571
Does not meet the credit policy. Status:Fully Paid       984
Late (31-120 days)                                       580
Does not meet the credit policy. Status:Charged Off      368
In Grace Period                                          265
Late (16-30 days)                                        106
Default                                                   52
Name: count, dtype: int64
Total numer of unique values: 9

payment_plan
n    54230
y        1
Name: count, dtype: int64
Total numer of unique values: 2

purpose
debt_consolidation    29593
credit_card           11133
other                  3697
home_improvement       3215
major_purchase         1679
small_business         1312
car                    1022
medical                 631
wedding                 539
moving                  456
house                   354
vacation                320
educational             201
renewable_energy         79
Name: count, dtype: int64
Total numer of unique values: 14

policy_code
1    54231
Name: count, dtype: int64
Total numer of unique values: 1

application_type
INDIVIDUAL    54231
Name: count, dtype: int64
Total numer of unique values: 1

In [14]:
# Print out the shape of the DataFrame
df_inf.data_shape()

Rows: 54231
Columns: 43

In [15]:
# Generate a count/percentage count of NULL values in each column
df_inf.count_null(percentage=True)

id                              0.000000
member_id                       0.000000
loan_amount                     0.000000
funded_amount                   5.544799
funded_amount_inv               0.000000
term_in_months                  8.799395
int_rate                        9.531449
instalment                      0.000000
grade                           0.000000
sub_grade                       0.000000
employment_length               3.905515
home_ownership                  0.000000
annual_inc                      0.000000
verification_status             0.000000
issue_date                      0.000000
loan_status                     0.000000
payment_plan                    0.000000
purpose                         0.000000
dti                             0.000000
delinq_2yrs                     0.000000
earliest_credit_line            0.000000
inq_last_6mths                  0.000000
mths_since_last_delinq         57.166565
mths_since_last_record         88.602460
open_accounts                   0.000000
total_accounts                  0.000000
out_prncp                       0.000000
out_prncp_inv                   0.000000
total_payment                   0.000000
total_payment_inv               0.000000
total_rec_prncp                 0.000000
total_rec_int                   0.000000
total_rec_late_fee              0.000000
recoveries                      0.000000
collection_recovery_fee         0.000000
last_payment_date               0.134609
last_payment_amount             0.000000
next_payment_date              60.127971
last_credit_pull_date           0.012908
collections_12_mths_ex_med      0.094042
mths_since_last_major_derog    86.172116
policy_code                     0.000000
application_type                0.000000
dtype: float64

In [17]:
def replace_null(dataframe, column, value):
    dataframe[column].fillna(value)
    return dataframe

In [19]:
df3 = replace_null(df_inf.dataframe, "last_credit_pull_date", "*")